/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0f0f0f;
    background-alt: #1a1a1a;
    foreground:     #FFFFFFFF;
    selected:        #c49ec4 ;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
